body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
  }
 
  body,
  input {
    font-family: 'Lato', sans-serif;
    
}

:root{  
  --border-color: #457b9d;
  --card-bkg-color: #00000076;
  --Btn-bkg-danger: #e63946;
  --Btn-bkg-danger-hover: #7F1019;
}